<%- include('../partials/head') -%>
<%- include('../partials/nav') -%>
    <div class="container">
        <div class="contribute">
            <h2>
                Update Existing Resource
            </h2>
        </div>
        <form class="forms" action="/resources/<%= resource._id %>?_method=PUT" method="POST"   >
            <div class="input-set">
            <label for="resourceName">Name: </label>
            <input type="text" id="rsrc-name" name="resourceName" placeholder="Resource Name" value="<%=resource.resourceName%>">
            </div>

            <fieldset>
                <legend>Resource Type:</legend>
                <div class="column">
                <div class="input-set checkbox">
                <label for="educational" class="checkbox-label">Education/Discussion</label>
                <input type="checkbox" class="checkbox-box" id="education" value="Education/Discussion" name="resourceType">
            </div>
                <div class="input-set checkbox">
                <label for="material" class="checkbox-label">Material Resources/Mutual Aid</label>
                <input type='checkbox' class="checkbox-box" id="material" value="Material Resources/Mutual Aid" name="resourceType">
            </div>
            <div class="input-set checkbox">
                <label for="help-govt" class="checkbox-label">Help Navigating Government Programs</label>
                <input type="checkbox" class="checkbox-box" id="help-govt" value="Help Navigating Government Programs" name="resourceType">
            </div>
            <div class="input-set checkbox">
                <label for="activism" class="checkbox-label">Political Activism/Engagement</label>
                <input type="checkbox" class="checkbox-box" id="activism" value="Political Activism/Engagement" name="resourceType">
            </div>
        </div>
        <div class="column">
            <div class="input-set checkbox">
                <label for="allies" class="checkbox-label">For Allies</label>
                <input type='checkbox' class="checkbox-box" id="allies" value="For Allies" name="resourceType">
            </div>
            <div class="input-set checkbox">
                <label for="govt" class="checkbox-label">Government Programs</label>
                <input type='checkbox' class="checkbox-box" id="govt" value="Government Programs" name="resourceType">
            </div>
            <div class="input-set checkbox">
                <label for="hco" class="checkbox-label">Healthcare Organization</label>
                <input type="checkbox" class="checkbox-box" id="hco" value="Healthcare Organization" name="resourceType">
            </div>
            <div class="input-set checkbox">
                <label for="social" class="checkbox-label">Social Support/Programming</label>
                <input type="checkbox" class="checkbox-box" id="social" value="Social Support/Programming" name="resourceType">
            </div>
            </div>
                </fieldset>
                <fieldset>
                <legend>Resource Category:</legend>
                <div class="column">
                <div class="input-set checkbox">
                <label for="lgbtq" class="checkbox-label">LGBTQ+ Resources</label>
                <input type="checkbox" class="checkbox-box" id="lgbtq" value="LGBTQ+ Community" name="issue">
            </div>
            <div class="input-set checkbox">
                <label for="allyship" class="checkbox-label">Allyship</label>
                <input type="checkbox" class="checkbox-box" id="forAllies" value="For Allies" name="issue">
            </div>
            <div class="input-set checkbox">
                <label for="food" class="checkbox-label">Food/Food Justice</label>
                <input type="checkbox" class="checkbox-box" id="food" value="Food/Food Justice" name="issue">
            </div>
            <div class="input-set checkbox">
                <label for="healthcare" class="checkbox-label">Healthcare</label>
                <input type="checkbox" class="checkbox-box" id="healthcare" value="Healthcare" name="issue">
            </div>
            <div class="input-set checkbox">
                <label for="housing" class="checkbox-label">Housing</label>
                <input type="checkbox" class="checkbox-box" id="housing" value="Housing" name="issue">
            </div>
        </div>
        <div class='column'>
            <div class="input-set checkbox">
                <label for="immigration" class="checkbox-label">Immigration/Immigrant Communities</label>
                <input type="checkbox" class="checkbox-box" id="immig" value="Immigration" name="issue">
            </div>
            <div class="input-set checkbox">
                <label for="legal" class="checkbox-label">Legal Resources</label>
                <input type="checkbox" class="checkbox-box" id="legal" value="Legal Resources" name="issue">
            </div>
            <div class="input-set checkbox">
                <label for="political" class="checkbox-label">Politics/Political Activism</label>
                <input type="checkbox" class="checkbox-box" id="political" value="Politics/Political Activism" name="issue">
            </div>
            <div class="input-set checkbox">
                <label for="racialJustice" class="checkbox-label">Racial Justice</label>
                <input type="checkbox" class="checkbox-box" id="racialJustice" value="Racial Justice" name="issue">
            </div>
            <div class="input-set checkbox">
                <label for="workers" class="checkbox-label">For Workers</label>
                <input type="checkbox" class="checkbox-box" id="workers" value="For Workers" name="issue">
            </div>
        </div>
        </fieldset>
            <div class="input-set">
                <label for="link">Link to Resource</label>
                <input type="text" name="resourceLink" id="rsrc-link" value="<%=resource.resourceLink%>" >
            </div>
            <div class="input-set">
                <label for="desc">Description:</label>
                <textarea name="description" id="description" placeholder="Description" value="<%=resource.description%>" ></textarea>
            </div>
            <br />
            <br />
            <br />
            <div class="button-div">
                <input type="submit" id="submit-button">
            </div> 
        </form>
    </div>

    <%- include('../partials/footer') -%>