<%- include('../partials/head') -%>
<%- include('../partials/nav') -%>
<%- include('../partials/head') -%>
<%- include('../partials/nav') -%>
<div class="container">
    <div class="page-text">
        <table>
            <thead>
                <tr>
                    <th>Resource Name</th>
                    <th>Issue</th>
                    <th>Type</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                <%- include('../partials/resourceTable', {
                    allResources: allResources,
                }) %>
            </tbody>
        </table>
    </div>
</div>
<%- include('../partials/footer') -%>