<%- include('../partials/head') -%>
<%- include('../partials/nav') -%>
    <div class="container">
        <h2>Issues</h2>
        <p>Resources submitted to the GBRD are organized according to the categories below. Please select the one you're interested in to view the related resources!</p>
        <div class="flex-container">

            <% for (let issue of allIssues) { %> 
                <a href="/issues/<%=issue._id%>"> 
<div class="individual-issue-container">

                     <h3> <%= issue.issueName %></h3>
                 </div>
                </a>
                
            <% } %>
        </div>

    </div>
    <%- include('../partials/footer') -%>