<%- include('../partials/head') -%>
<%- include('../partials/nav') -%>
<div class="container">

        <h2> <%=issue.issueName %></h2>
        <p> <%= issue.issueDescription %></p>
    <div class="flex-container">
    <% for (let resource of resources) { %>
    <div class="individual-resource-container">
        <p><strong> <%= resource.resourceName %></strong></p>
        <p><strong>Type: </strong><%= resource.resourceType %></p>
        <% let issueArray = resource.issue;
        let issueArrayAsString = issueArray.join(', '); %>
        <p><strong>Issues:</strong> <%=issueArrayAsString %></p>
        <p><strong>Description:</strong> <%=resource.description %> </p>
<form style="display: inline;" action="<%=resource.resourceLink %>" method="get"><button class="black-button" >Link to Resource</button> </form>

</div>
   <% } %>
</div>
</div>

<%- include('../partials/footer') -%>