<%- include('../partials/head') -%>
<%- include('../partials/nav') -%>
<div class="container">
    <div class="individual-resource-container">
        <h3> <%= resource.resourceName %> </h3>
        <p> <%= resource.resourceType %></p>
        <p> <%= resource.issue %></p>
        <p> <%= resource.resourceLink %></p>
        <p> <%= resource.description %></p>
    </div>
</div>
<%- include('../partials/footer') -%>